body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* Hero Section */

.hero-section {
    display: flex;
    background-image: url('images/bkg1.jpg');
    background-size: cover;
    height: 700px;
    justify-content: center;
    border-radius: 30px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    transform: scale(1.5)
}

#hero-top-text, #hero-bottom-text {
    color: #ffffff;
    text-shadow: 0px 0px 1px black;
    margin: 0 auto;
    border-radius: 10px;
    padding: 6px 15px;
}

#hero-top-text {
    background: #F36B16;
    margin-bottom: 10px;
    width: 220px;
}
#hero-bottom-text {
    background: #3FA249;
    display:flex;
    margin-bottom: 10px;
    width: 425px;
    height:110px;
    align-items: center;
}


/* Activities Section */

.activities-section {
    margin-top: 10px;
    background: linear-gradient(#F36B16, #ffffff, #3FA249);
    height: 700px;
    border-radius: 10px;
    padding: 10px 0;
}

#activities-top-text {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    
}

.activities {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
}

.activity {
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
}

#saint-paul, #banco, #cava {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid #0C1618;
}


/* Guide Section */